{% extends 'base.html.twig' %}

{% block title %}
    Ticket Detail
{% endblock %}

{% block body %}
    <div class="container content">
        <a class="pull-right print" href="" data-toggle="tooltip" data-placement="left" title="Print"><i class="fa fa-print"></i></a>
        <div class="title">Ticket</div>
        <div class="row">
            <div class="col-md-6">


                <table class="table">
                    <tr>
                        <td>Ticket</td>
                        <td>{{ ticket.event.name }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ ticket.event.getDateFormatted() }}</td>
                    </tr>
                    <tr>
                        <td>Aankoop Datum</td>
                        <td>{{ ticket.getDateFormatted() }}</td>
                    </tr>
                    <tr>
                        <td>Naam</td>
                        <td>{{ ticket.owner.getFullName() }} ({{ticket.owner.username}})</td>
                    </tr>
                    <tr>
                        <td>Geldigheid</td>
                        <td>{{ ticket.claimed ? 'Ongeldig':'Geldig' }}</td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6">
                <img class="qr" src="{{ qrcode_url(url('ticket_detail', {'id': ticket.id}) , extension='png') }}" />
            </div>
        </div>
    </div>
{% endblock %}


