<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Nodig voor Bootstrap 3 CSS in forms -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Nodig voor Bootstrap 3 CSS in forms -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Feest</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if app.user %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/account/view/{{ app.user.id }}">View</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('user_logout') }}">Log Out</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('user_login') }}">Log In</a></li>
                                <li><a href="{{ path('user_register') }}">Register</a></li>
                            {% endif %}
                            <li>
                                <form class="navbar-form" method="post" action="{{ path('searchName')}}" role="search" name="SearchForm">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search" name="Search" id="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('show_all_events') }}">View</a></li>
                                {% if app.user %}
                                    <li><a href="{{ path('show_events') }}">Mijn Events</a></li>
                                {% endif %}
                                </ul>
                            </li>
                            <li><a href="{{ path('show_venues') }}">Venues</a></li>
                            <li><a href="{{ path('show_tickets') }}">Tickets</a></li>

                            {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
                                <li><a href="{{ path('adminoverview') }}">Admin Panel</a></li>
                            {% endif %}


                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}

            <footer>
                <p>Feest</p>
            </footer>
    </body>
</html>