<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Nodig voor Bootstrap 3 CSS in forms -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Nodig voor Bootstrap 3 CSS in forms -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Feest</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navigation" id="collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('show_all_events') }}">Events</a></li>
                            <li><a href="{{ path('show_venues') }}">Venues</a></li>
                            {% if app.user %}
                                <li><a href="{{ path('show_tickets') }}">Tickets</a></li>
                                <li><a href="{{ path('profile') }}">Account</a></li>
                                <li><a href="{{ path('user_logout') }}">Log Out</a></li>
                            {% else %}
                                <li><a href="{{ path('user_login') }}">Log In</a></li>
                                <li><a href="{{ path('user_register') }}">Registreer</a></li>
                            {% endif %}
                            {% if is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
                                <li><a href="{{ path('adminoverview') }}">Admin Panel</a></li>
                            {% endif %}


                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div class="container-fluid">
                <div class="search">
                    <div class="container">
                        <div class="search-icon pull-left">
                            <i class="fa fa-search"></i>
                        </div>
                        <form method="get" action="{{ path('searchName')}}" class="search-form" role="search">
                            <input placeholder="Zoek op een feest, iets leuk!" class="search-input" id="search" name="search" type="text" autocomplete="off" {% if search is defined and search is not null %}value="{{ search }}"    {% endif %}>
                        </form>
                    </div>
                </div>
            </div>

            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <div class="container-fluid ">
                <div class="container">
                    <div class="pull-right"><a href="#">UCLL 2016</a></div>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="">Feest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </body>

    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $('.flash-notice').on('click',function(){
            $(".flash-notice").fadeOut("normal", function() {
                $(".flash-notice").remove();
            });
        });
    </script>

    <script type="text/javascript">
        $('.print').on('click',function(){
            window.print();
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function() {

            var docHeight = $(window).height();
            var footerHeight = $('.footer').height();

            var footerTop = $('.footer').position().top + footerHeight;

            if (footerTop < docHeight) {
                $('.footer').css('margin-top', (docHeight - footerTop)  + 'px');
            }
        });
    </script>

</html>