{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feest</h1>

    <p>Welkom op de homepagina van Feest</p>
    <p>Hier kunt u evenementen in uw buurt vinden, of zelf een evenement organiseren.</p>

    {% if( app.user ) %}
        <p>Welkom terug {{ app.user.username }}</p>
        <p><a href="{{ path('user_logout') }}">Log uit</a>
    {%  else %}
        <p>Welkom. <a href="{{ path('user_login') }}">Log in</a> of <a href="{{ path('user_register') }}">Registreer</a></p>
    {% endif %}

    {% if events != null %}
    <h2>Events bij u in de buurt</h2>
    <table>
        <tr>
            <td>Naam</td>
            <td>Adres</td>
            <td>Datum</td>
        </tr>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_detail',{'id':event.getId()}) }}">{{ event.getName()}}</td>
                <td>{{ event.getFullAdress()}}</td>
                <td>{{ event.getDateFormatted() }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}