{% extends 'base.html.twig' %}

{%  block title %}
    Account: {{ user.username }}
{% endblock %}

{% block body %}
    <div class="container content">


        {% if user == app.user %}
            <a class="nav-icons pull-right" href="{{ path('editprofile') }}" data-toggle="tooltip" data-placement="left" title="Edit profile"><i class="fa fa-pencil"></i></a>
            <a class="nav-icons pull-right" href="{{ path('editpassword') }}" data-toggle="tooltip" data-placement="left" title="Edit password"><i class="fa fa-key"></i></a>
            <a class="nav-icons pull-right" href="{{ path('dashboard') }}" data-toggle="tooltip" data-placement="left" title="Dashboard"><i class="fa fa-tachometer"></i></a>

        {% endif %}
        <div class="title nav-icons ">Profile: <a href="{{ path('accountview',{'id':user.getId()}) }}">{{ user.username }}</a></div>

        <table class="table">
            <tr>
                <td>Email address: </td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>First name: </td>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <td>Last name: </td>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td>{{ genderToString(user.gender) }}</td>
            </tr>
            <tr>
                <td>Birthday: </td>
                <td>{{ user.birthday|date('Y-m-d') }}</td>
            </tr>
        </table>

        {% if app.user == user %}
                {% if(user.events is not empty) %}
                    <div class="title">Mijn events</div>
                    <table class="table">
                        <tbody>
                        {% for event in user.events %}
                            <tr>
                                <td><a href="{{ path('event_detail',{'id':event.getId()}) }}">{{ event.getName()}}</td>
                                <td>{{ event.getFullAdress()}}</td>
                                <td>{{ event.getDateFormatted() }}</td>
                                <td>
                                    <a href="{{ path('delete_event',{'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Delete event">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <a  href="{{ path('edit_event',{'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Edit information">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('edit_event_venues',{'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Edit location">
                                        <i class="fa fa-map-marker"></i>
                                    </a>
                                </td>
                                <td>
                                    <a  href="{{ path('edit_payment',{'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Edit payment method">
                                        <i class="fa fa-credit-card-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            <div class="button">
                <a class="feest-button" href="{{ path('add_event') }}">Maak een nieuw event aan</a>
            </div>

                {% if(user.managing is not empty) %}
                    <div class="title">Managed events</div>
                    <table class="table">
                        {% for event in user.managing %}
                            <tr>
                                <td><a href="{{ path('event_detail',{'id':event.getId()}) }}">{{ event.getName()}}</td>
                                <td>{{ event.getFullAdress()}}</td>
                                <td>{{ event.getDateFormatted() }}</td>
                                <td>
                                    <a  href="{{ path('edit_event',{'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Edit event">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
        {% else %}
            {% if user.events is not empty %}
                <div class="title">Events</div>
                <div class="row">
                    {% for event in user.events %}
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <a href="{{ path('event_detail',{'id':event.getId()}) }}" class="list-event">
                                <div class="list-event-img" style="background-image: url('{% if event.foto != null %}{{ vich_uploader_asset(event.foto, 'file') }}{% else %}{{ asset("question-mark.jpg", "img") }}{% endif %}')">
                                </div>
                                <div class="list-event-info">
                                    <div class="list-event-name">{{ event.getName()}}</div>
                                    <div class="list-event-location pull-right">{{ event.getCity() }}</div>
                                    <div class="list-event-date">{{ event.getDateFormatted() }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}