{% extends 'base.html.twig' %}

{%  block title %}
    Account for {{ app.user.username }}
{% endblock %}

{% block body %}
    <h1>Profile: {{ app.user.username }}</h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Change Password</button>
    {{ form_end(form) }}
{% endblock %}