{% extends 'base.html.twig' %}

{%  block title %}
    Account for {{ app.user.username }}
{% endblock %}

{% block body %}

    <div class="container content">
        <div class="title">Profile: {{ app.user.username }}</div>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Change Password</button>
        {{ form_end(form) }}
    </div>

{% endblock %}