{% extends 'base.html.twig' %}

{%  block title %}
    Log in
{% endblock %}

{% block body %}
    <div class="container">

        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 content-form">
                <div class="login-title">Log in</div>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label class="control-label required" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input class="login-input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />



                    <label class="control-label required" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input class="login-input"  type="password" id="password" name="_password" required="required" />



                    <label class="control-label required" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

                    <input class="login-input login-button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}