{% extends 'base.html.twig' %}

{%  block title %}
    Venue
{% endblock %}

{% block body %}
    <div class="container content">
        <a class="pull-right" href="{{ path('add_payment',{'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Geen venue toevoegen"><i class="fa fa-arrow-right"></i></a>
        <div class="title">Zoek een venue</div>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_row(form.venue) }}
        {{ form_end(form) }}

        {% if venues is not empty %}
            <div class="title">Venues</div>
            <table class="table">
                <tr>
                    <td>Naam</td>
                    <td>Adres</td>
                </tr>
                {% for venue in venues %}
                    <tr>
                        <td><a href="{# path('venue_detail',{'id':venue.getId()) #}">{{ venue.getName()}} ({{ venue.events|length}})</a></td>
                        <td>{{ venue.getFullAdress()}}</td>
                        <td><a href="{{ path('add_event_venue',{'id':event.getId(), 'venue':venue.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Venue toevoegen"><i class="fa fa-plus"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="text">Geen venues gevonden!</div>
        {% endif %}
    </div>




{% endblock %}