{% extends 'base.html.twig' %}

{%  block title %}
    Nieuw Evenement
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="title">Online tickets verkopen?</div>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_row(form.selling) }}
        {{ form_row(form.price) }}
        {{ form_row(form.capacity) }}
        {{ form_end(form) }}
    </div>

{% endblock %}