{% extends 'base.html.twig' %}


{% block title %}
    Event Detail.
{% endblock %}

{% block body %}
<h1>Detail overview</h1>

<div id="foto">
    {% if event.foto != null %}
        <img src="{{ vich_uploader_asset(event.foto, 'file') }}" alt="{{ event.foto.name }}"/>
    {% else %}
        <img src="{{ asset("question-mark.jpg", "img") }}" alt="No image provided"/>
    {% endif %}
</div>
<table id="table">
    <tr>
        <td>Naam</td>
        <td>{{ event.name }}</td>
    </tr>
    <tr>
        <td>Managers</td>
        <td>{% for manager in event.managers %}{{ manager.username }} {% endfor %}</td>
    </tr>
    <tr>
        <td>Adres</td>
        <td>{{ event.adress }}</td>
    </tr>
    <tr>
        <td>Inkom Prijs</td>
        <td>{{ event.price }}</td>
    </tr>
    <tr>
        <td>Datum</td>
        <td>{{ event.getDate() | date('Y-m-d') }}</td>
    </tr>
    <tr>
        <td>Uur</td>
        <td>{{ event.getDate() | date('H:i') }}</td>
    </tr>
    <tr>
        <td>Beschrijving</td>
        <td>{{ event.description }}</td>
    </tr>

    <tr>
        <td>Capaciteit</td>
        <td>{{ event.capacity }}</td>
    </tr>
</table>

{% if event.selling and app.user is not null and event.creator.id != user.id and hasTicketAlready == false %}
    <a href="{{ path('buy_ticket',{'id': event.id}) }}">Koop ticket</a>
{% endif %}

    {% if event.tickets is not empty %}
        <table>
            <tr>
                <td>Attendees</td>
            </tr>
            {% for ticket in event.tickets %}
                <tr>
                    <td>{{ ticket.owner.getFullName() }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
