{% extends 'base.html.twig' %}


{% block title %}
    Event Overview.
{% endblock %}

{% block body %}
    <h1>Overview</h1>


    <table>
        <tr>
            <td>Naam</td>
            <td>Adres</td>
            <td>Inkom Prijs</td>
            <td>Start Uur</td>
            <td>Beschrijving</td>
        </tr>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_detail',{'id':event.getId()}) }}">{{ event.getName()}}</td>
                <td>{{ event.getFullAdress()}}</td>
                <td>{{ event.getPrice()}}</td>
                <td>{{ event.getHours()}}</td>
                <td>{{ event.getDescription()}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}