{% extends 'base.html.twig' %}


{% block title %}
    Event Detail.
{% endblock %}

{% block body %}
<h1>Detail overview</h1>

    <div id="foto">
    {% if event.foto != null %}
    <img  src="{{ vich_uploader_asset(event.foto, 'file') }}" alt="{{ event.foto.name }}" />
    {% else %}
    <img  src="{{ asset("question-mark.jpg", "img") }}" alt="No image provided" />
    {% endif %}
    </div>
    <table id="table">
        <tr>
            <td>Naam</td>
            <td>{{ event.name}}</td>
        </tr>
        <tr>
            <td>Adres</td>
            <td>{{ event.adress}}</td>
        </tr>
        <tr>
            <td>Inkom Prijs</td>
            <td>{{ event.price}}</td>
        </tr>
        <tr>
            <td>Start Uur</td>
            <td>{{ event.hours}}</td>
        </tr>
        <tr>
            <td>Beschrijving</td>
            <td>{{ event.description}}</td>
        </tr>
    </table>
{% endblock %}
