{% extends 'base.html.twig' %}


{% block title %}
    Event: {{ event.name }}
{% endblock %}

{% block body %}
        <div class="container content">
            {% if (app.user == event.creator or app.user in  event.managers) %}
                <a class="icon-margin pull-right" href="{{ path('edit_event', {'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Edit"><i class="fa fa-pencil"></i></a>
            {% endif %}

            {% if app.user == event.creator %}
                <a class="icon-margin pull-right" href="{{ path('show_managers', {'id':event.getId()}) }}" data-toggle="tooltip" data-placement="left" title="Managers"><i class="fa fa-users"></i></a>
            {% endif %}
            {% if event.selling and app.user is not null and event.creator.id != user.id and hasTicketAlready == false and event.tickets|length < event.capacity %}
                <a class="pull-right" href="{{ path('buy_ticket',{'id': event.id}) }} " data-toggle="tooltip" data-placement="left" title="Koop ticket"><i class="fa fa-ticket"></i></a>
            {% endif %}
            <div class="title">Event</div>

        </div>

        <div class="container-fluid">
            <iframe
                    width="100%"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBR88GCXIhqHsGVKXFAf8zNZNFbqi-J6TE&q={{ event.getFullAdress()|replace({' ': '+'}) }}" allowfullscreen>
            </iframe>
        </div>

        <div class="container no-margin-top">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>Naam</td>
                            <td>{{ event.name }}</td>
                        </tr>

                        {% if event.managers is not empty %}
                            <tr>
                                <td>Managers</td>
                                <td>{% for manager in event.managers %}{{ manager.username }} {% endfor %}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td>Adres</td>
                            <td>{{ event.adress }}</td>
                        </tr>

                        {% if event.price is not null %}
                            <tr>
                                <td>Inkom Prijs</td>
                                <td id="price">{{ event.price }}€</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td>Datum</td>
                            <td>{{ event.getDate() | date('d/m/y') }} om {{ event.getDate() | date('H:i') }}</td>
                        </tr>

                        {% if event.description is not null %}
                            <tr>
                                <td>Beschrijving</td>
                                <td>{{ event.description }}</td>
                            </tr>
                        {% endif %}

                        {% if event.capacity is not null %}
                            <tr>
                                <td>Capaciteit</td>
                                <td>{{ event.capacity }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Aangemaakt door</td>
                            <td><a href="{{ path('accountview',{'id':event.creator.getId()}) }}">{{ event.creator.getFullName() }}</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div id="foto">
                        {% if event.foto != null %}
                            <img class="event-detail-img" src="{{ vich_uploader_asset(event.foto, 'file') }}" alt="{{ event.foto.name }}"/>
                        {% else %}
                            <img class="event-detail-img" src="{{ asset("question-mark.jpg", "img") }}" alt="No image provided"/>
                        {% endif %}
                    </div>
                </div>
            </div>

                {% if event.tickets is not empty %}
                    <table>
                        <tr>
                            <td>Attendees</td>
                        </tr>
                        {% for ticket in event.tickets %}
                            <tr>
                                <td>{{ ticket.owner.getFullName() }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

        </div>

{% endblock %}
