{% extends 'base.html.twig' %}


{% block title %}
    Event Overview.
{% endblock %}

{% block body %}
    <h1>Overview</h1>


    <table>
        <tr>
            <td>Naam</td>
            <td>Adres</td>
            <td>Inkom Prijs</td>
            <td>Start Uur</td>
            <td>Beschrijving</td>
        </tr>
        {% for event in events %}
        <tr>
            <td><a href="{{ path('event_detail',{'id':event.getId()}) }}">{{ event.getName()}}</td>
            <td>{{ event.getFullAdress()}}</td>
            <td>{{ event.getPrice()}}</td>
            <td>{{ event.getHours()}}</td>
            <td>{{ event.getDescription()}}</td>
            <td> <a href="{{ path('delete_event',{'id':event.getId()}) }}">Delete</a> </td>
            <td> <a href="{{ path('update_event',{'id':event.getId()}) }}">Update</a> </td>
        </tr>
        {% endfor %}
    </table>
    <p> <a href="/events/Add_Event">Maak een nieuw evenement aan</a> </p>



{% endblock %}


