{% extends 'base.html.twig' %}

{%  block title %}
    Update Evenement
{% endblock %}

{% block body %}
    <h1>Update Evenement</h1>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.adress) }}
    {{ form_row(form.city) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.price) }}
    {{ form_row(form.date) }}
    {{ form_widget(form.foto.file) }}
    {{ form_row(form.description) }}
    {{ form_row(form.capacity) }}
    {{ form_end(form) }}
{% endblock %}