
<h1>{{ headerText }}</h1>
<!-- TODO: replace with list of available roles -->
{{ form_start(form) }}
{{ form_row(form.role) }}

<div class="form-group">
    <div class="col-sm-10">
        <button type="submit">{{ submitText }}</button>
    </div>
</div>
{{ form_end(form) }}